<!-- Head -->
<%- include("partials/__head") %>
<!-- Sidebar -->
<%- include("partials/__sidebar") %>
<% const { _id: user, appWallet, transactionHistory, firstname, lastname, username, phoneNo, profilePic, authLevel, ...others } = data %>
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
	<!-- Navbar -->
	<%- include("partials/__navbar") %>

	<!--  -->

	<div class="container-fluid">
		<div class="page-header d-flex justify-content-end min-height-300 border-radius-md mt-4"
			style="background-image: url('/dashboard/img/curved-images/curved0.jpg'); background-position-y: 50%;">
			<% others._doc.userActivePlan.forEach( activePlan => { %>
			<div class="appWallet_balance row">
				<div class="card">
					<div class="card-body p-3">
						<div class="row">
							<div class="col-4 text-end">
								<div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
									<i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
								</div>
							</div>
							<div class="col-8">
								<div class="numbers">
									<p class="text-sm mb-0 text-capitalize font-weight-bold"><%- activePlan.plan.name %>
									</p>
									<h5 class="font-weight-bolder mb-0">
										$<%- activePlan.amount %>
										<span class="text-success text-sm font-weight-bolder">+55%</span>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
			<!-- COMMENT: App wallet here -->
			<div class="appWallet_balance row">
				<div class="card">
					<div class="card-body p-3">
						<div class="row">
							<div class="col-4 text-end">
								<div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
									<i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
								</div>
							</div>
							<div class="col-8">
								<div class="numbers">
									<p class="text-sm mb-0 text-capitalize font-weight-bold">App Wallet</p>
									<h5 class="font-weight-bolder mb-0">
										$<%- appWallet.amount %>
										<span class="text-success text-sm font-weight-bolder">+55%</span>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<span class="mask bg-gradient-primary opacity-6"></span>
		</div>
		<div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
			<div class="row gx-4">
				<div class="col-auto d-flex align-items-center position-relative" data-profilePic="editable">
					<i class="fa-user-edit fas position-absolute text-secondary text-sm z-index-1"></i>
					<div class="avatar avatar-md position-relative">
						<% if(profilePic){ %>
						<img src="/<%- profilePic.path %>" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
						<% }else{ %>
						<span
							class="d-flex justify-content-center align-items-center w-100 h-100 border-radius-lg shadow-sm text-uppercase bold bg-gradient-primary"><%- firstname.substr(0, 1) %></span>
						<% } %>
					</div>
				</div>
				<div class="col-auto my-auto">
					<div class="h-100">
						<h5 class="mb-1">
							<%- firstname %> <%- lastname %>
						</h5>
						<p class="mb-0 font-weight-bold text-sm">
							<%- username %>
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
					<div class="nav-wrapper position-relative end-0">
						<ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
							<li id="appSwitch" class="nav-item">
								<a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;"
									role="tab" aria-selected="true">
									<svg class="text-dark" width="16px" height="16px" viewBox="0 0 42 42" version="1.1"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g transform="translate(-2319.000000, -291.000000)" fill="#FFFFFF"
												fill-rule="nonzero">
												<g transform="translate(1716.000000, 291.000000)">
													<g transform="translate(603.000000, 0.000000)">
														<path class="color-background"
															d="M22.7597136,19.3090182 L38.8987031,11.2395234 C39.3926816,10.9925342 39.592906,10.3918611 39.3459167,9.89788265 C39.249157,9.70436312 39.0922432,9.5474453 38.8987261,9.45068056 L20.2741875,0.1378125 L20.2741875,0.1378125 C19.905375,-0.04725 19.469625,-0.04725 19.0995,0.1378125 L3.1011696,8.13815822 C2.60720568,8.38517662 2.40701679,8.98586148 2.6540352,9.4798254 C2.75080129,9.67332903 2.90771305,9.83023153 3.10122239,9.9269862 L21.8652864,19.3090182 C22.1468139,19.4497819 22.4781861,19.4497819 22.7597136,19.3090182 Z">
														</path>
														<path class="color-background"
															d="M23.625,22.429159 L23.625,39.8805372 C23.625,40.4328219 24.0727153,40.8805372 24.625,40.8805372 C24.7802551,40.8805372 24.9333778,40.8443874 25.0722402,40.7749511 L41.2741875,32.673375 L41.2741875,32.673375 C41.719125,32.4515625 42,31.9974375 42,31.5 L42,14.241659 C42,13.6893742 41.5522847,13.241659 41,13.241659 C40.8447549,13.241659 40.6916418,13.2778041 40.5527864,13.3472318 L24.1777864,21.5347318 C23.8390024,21.7041238 23.625,22.0503869 23.625,22.429159 Z"
															opacity="0.7"></path>
														<path class="color-background"
															d="M20.4472136,21.5347318 L1.4472136,12.0347318 C0.953235098,11.7877425 0.352562058,11.9879669 0.105572809,12.4819454 C0.0361450918,12.6208008 6.47121774e-16,12.7739139 0,12.929159 L0,30.1875 L0,30.1875 C0,30.6849375 0.280875,31.1390625 0.7258125,31.3621875 L19.5528096,40.7750766 C20.0467945,41.0220531 20.6474623,40.8218132 20.8944388,40.3278283 C20.963859,40.1889789 21,40.0358742 21,39.8806379 L21,22.429159 C21,22.0503869 20.7859976,21.7041238 20.4472136,21.5347318 Z"
															opacity="0.7"></path>
													</g>
												</g>
											</g>
										</g>
									</svg>
									<span class="ms-1">App</span>
								</a>
							</li>
							<li id="messageSwitch" class="nav-item">
								<a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab"
									aria-selected="false">
									<svg class="text-dark" width="16px" height="16px" viewBox="0 0 40 44" version="1.1"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>document</title>
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF"
												fill-rule="nonzero">
												<g transform="translate(1716.000000, 291.000000)">
													<g transform="translate(154.000000, 300.000000)">
														<path class="color-background"
															d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z"
															opacity="0.603585379"></path>
														<path class="color-background"
															d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z">
														</path>
													</g>
												</g>
											</g>
										</g>
									</svg>
									<span class="ms-1">Messages</span>
								</a>
							</li>
							<li id="settingSwitch" class="nav-item">
								<a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab"
									aria-selected="false">
									<svg class="text-dark" width="16px" height="16px" viewBox="0 0 40 40" version="1.1"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>settings</title>
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g transform="translate(-2020.000000, -442.000000)" fill="#FFFFFF"
												fill-rule="nonzero">
												<g transform="translate(1716.000000, 291.000000)">
													<g transform="translate(304.000000, 151.000000)">
														<polygon class="color-background" opacity="0.596981957"
															points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667">
														</polygon>
														<path class="color-background"
															d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z"
															opacity="0.596981957"></path>
														<path class="color-background"
															d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z">
														</path>
													</g>
												</g>
											</g>
										</g>
									</svg>
									<span class="ms-1">Settings</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid py-4">
		<!-- COMMENT: App section -->
		<section id="appSection" role="application" aria-label="App">
			<div class="row">
				<div class="col-md-7 col-lg-7 mb-lg-0 mb-4">
					<div class="card">
						<div class="card-body p-3">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="d-flex flex-column h-100">
										<!-- COMMENT: Credit Wallet -->
										<p class="mb-1 pt-2 text-bold">Credit Account</p>
										<h5 class="font-weight-bolder">Pay using Flutterwave</h5>
										<p class="mb-5">
											Quickly credit you account and start investing all you want.
										</p>
										<a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto"
											href="javascript:;">
											<button type="button" data-ms-disable-scroll="true" data-bs-toggle="modal"
												data-bs-target="#exampleModalLong"
												class="btn btn-outline-primary btn-sm mb-0">Credit
												Account</button>
										</a>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-5 ms-auto text-center mt-5 mt-md-0">
									<div class="bg-gradient-primary border-radius-lg h-100">
										<img src="/dashboard/img/shapes/waves-white.svg"
											class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
										<div
											class="position-relative d-flex align-items-center justify-content-center h-100">
											<img class="w-100 position-relative z-index-2 pt-4"
												src="/dashboard/img/illustrations/rocket-white.png" alt="rocket">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-lg-5">
					<div class="card h-100 p-3">
						<div class="overflow-hidden position-relative border-radius-lg bg-cover h-100"
							style="background-image: url('/dashboard/img/ivancik.jpg');">
							<span class="mask bg-gradient-dark"></span>
							<div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
								<!-- COMMENT: Credit wallet by crypto -->
								<h5 class="text-white font-weight-bolder mb-4 pt-2">Love working with crypto</h5>
								<p class="text-white">
									Pay into you wallet by transfering through crypto currency.
								</p>
								<a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto"
									href="javascript:;">
									<button type="button" data-bs-toggle="modal" data-bs-target="#modal-form"
										class="btn btn-outline-light btn-sm mb-0">Pay with crypto</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center align-items-start mt-4">
				<!-- COMMENT: Conversations -->
				<div class="col-12 col-md-4 mb-2 mb-md-0">
					<div class="card h-100">
						<div class="card-header pb-0 p-3">
							<h6 class="mb-0">Conversations</h6>
						</div>
						<div class="card-body p-3">
							<ul class="list-group">
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="/dashboard/img/kal-visuals-square.jpg" alt="kal"
											class="border-radius-lg shadow">
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Sophie B.</h6>
										<p class="mb-0 text-xs">Hi! I need more information..</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="/dashboard/img/marie.jpg" alt="kal" class="border-radius-lg shadow">
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Anne Marie</h6>
										<p class="mb-0 text-xs">Awesome work, can you..</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="/dashboard/img/ivana-square.jpg" alt="kal"
											class="border-radius-lg shadow">
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Ivanna</h6>
										<p class="mb-0 text-xs">About files I can..</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="/dashboard/img/team-4.jpg" alt="kal" class="border-radius-lg shadow">
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Peterson</h6>
										<p class="mb-0 text-xs">Have a great afternoon..</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0">
									<div class="avatar me-3">
										<img src="/dashboard/img/team-3.jpg" alt="kal" class="border-radius-lg shadow">
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Nick Daniel</h6>
										<p class="mb-0 text-xs">Hi! I need more information..</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">Reply</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- COMMENT: Transactions -->
				<div class="col-12 col-md-8 mt-2 mt-md-0">
					<div class="card mb-4">
						<div class="card-header d-flex justify-content-between align-items-center pb-0">
							<h6>Recent Transaction</h6>
							<a href="/dashboard/transactions" class="btn btn-outline-primary text-nowrap mb-0">
								See all
								<i class="fa fa-arrow-right"></i>
							</a>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Type
											</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
												Outcome</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Status</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
												Date/Time</th>
											<th class="text-secondary opacity-7"></th>
										</tr>
									</thead>
									<tbody>
										<% transactionHistory.reverse().forEach((transaction, index) => { %>
										<% if(index > 5) return %>
										<tr>
											<td>
												<div class="d-flex px-2 py-1">
													<div class="avatar avatar-md position-relative">
														<% if (transaction.fromWho.username == transaction.toWho.username){ %>
														<% if(profilePic){ %>
														<img src="/<%- profilePic.path %>" alt="profile_image"
															class="avatar avatar-sm me-3">
														<% }else{ %>
														<span
															class="d-flex justify-content-center align-items-center avatar avatar-sm me-3 border-radius-lg shadow-sm text-uppercase bold bg-gradient-primary"><%- firstname.substr(0, 1) %></span>
														<% } %>
														<% }else if (transaction.fromWho.username != username){ %>
														<% if(transaction.fromWho.profilePic){ %>
														<img src="/<%- transaction.fromWho.profilePic.path %>"
															alt="profile_image" class="avatar avatar-sm me-3">
														<% }else{ %>
														<span
															class="d-flex justify-content-center align-items-center avatar avatar-sm me-3 border-radius-lg shadow-sm text-uppercase bold bg-gradient-primary"><%- transaction.fromWho.firstname.substr(0, 1) %></span>
														<% } %>
														<% }else{ %>
														<% if(transaction.toWho.profilePic){ %>
														<img src="/<%- transaction.toWho.profilePic.path %>"
															alt="profile_image" class="avatar avatar-sm me-3">
														<% }else{ %>
														<span
															class="d-flex justify-content-center align-items-center avatar avatar-sm me-3 border-radius-lg shadow-sm text-uppercase bold bg-gradient-primary"><%- transaction.toWho.firstname.substr(0, 1) %></span>
														<% } %>
														<% } %>
													</div>

													<div class="d-flex flex-column justify-content-center">
														<!-- TODO: Change john to {Alert } from or to -->
														<h6
															class="mb-0 text-sm text-<%- transaction.alert == "Credit"? "success": "danger" %>">
															<%- transaction.alert %> </h6>
														<!-- TODO: here would be who the transaction is from or to -->
														<p class="text-xs text-secondary mb-0">
															<%- transaction.alert == "Credit"? (transaction.fromWho.username == transaction.toWho.username? "You": "from: " +  transaction.fromWho.username): "to: " + transaction.toWho.username %>
														</p>
													</div>
												</div>
											</td>
											<td>
												<!-- TODO: Here would be the amount -->
												<p class="text-xs font-weight-bold mb-0">
													<%- transaction.amountInAppWallet %> </p>
												<!-- TODO: Here will be the method of transfer -->
												<p class="text-xs text-secondary mb-0">
													<%- transaction.methodOfPayment %> </p>
											</td>
											<td class="align-middle text-center text-sm">
												<!-- TODO: Here would be the status of the payment -->
												<% if(transaction.status == 1){ %>
												<span class="badge badge-sm bg-gradient-success">Success</span>
												<% }else if(transaction.status == 0) { %>
												<span class="badge badge-sm bg-gradient-danger">Failed</span>
												<% }else { %>
												<span class="badge badge-sm bg-gradient-waring">Pending</span>
												<% } %>
											</td>
											<td class="align-middle text-center">
												<!-- TODO: Here is the date time -->
												<!-- mongoose date -->
											<% const timeOfTransaction = new Date(transaction.createdAt) %>
											<!-- use moment js to get the time period from the created date -->
											<script src="https://momentjs.com/downloads/moment.min.js"></script>
											<span class="text-secondary text-xs font-weight-bold">
												<script>
													document.write(moment("<%= timeOfTransaction %>").fromNow());
												</script> 
											</span>
											</td>
											<td class="align-middle">
												<a href="javascript:void(0);"
													class="text-secondary font-weight-bold text-xs"
													data-toggle="tooltip" data-original-title="Edit user"
													data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="openTransaction({
														description: `<%- transaction.description %>`,
														status: `<%- transaction.status %>`,
														alert: `<%- transaction.alert %>`,
														amountInAppWallet: `<%- transaction.amountInAppWallet %>`,
														methodOfPayment: `<%- transaction.methodOfPayment %>`,
														fromWho: `<%- transaction.fromWho.username %>`,
														toWho: `<%- transaction.toWho.username %>`,
														createdAt: `<%- transaction.createdAt %>`
														})">
													See More
												</a>
											</td>
										</tr>
										<% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- COMMENT: See all plans -->
				<div class="col-12 mt-4">
					<div class="card mb-4">
						<div class="card-header pb-0 p-3">
							<h6 class="mb-1">START A PLAN</h6>
							<p class="text-sm">Start investment with a your favourite investors</p>
						</div>
						<div class="card-body p-3">
							<div class="row">
								<% plans.forEach((plan, index) => { %>
								<div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
									<div class="card card-blog card-plain">
										<div class="position-relative">
											<a href="/dashboard/plans/<%- plan.name %> ?id=<%- plan._id %>"
												class="d-block shadow-md border-radius-md">
												<img src="/dashboard/img/home-decor-<%- index + 1 > 4? Math.floor(Math.random() * 5,): index + 1 %>.jpg"
													alt="img-blur-shadow" class="img-fluid shadow border-radius-md">
											</a>
										</div>
										<div class="card-body px-1 pb-0">
											<div class="d-flex justify-content-between align-items-center">
												<p class="text-gradient text-dark mb-2 text-sm">Plan #<%- index + 1 %>
												</p>
												<% if(authLevel > 1) { %>
												<a href="/dashboard/plans">
													<i class="fa fa-edit"></i>
													Edit
												</a>
												<% } %>
											</div>
											<a href="/dashboard/plans/<%- plan.name %> ?id=<%- plan._id %>">
												<h5>
													<%- plan.name %>
												</h5>
											</a>
											<!-- TODO: Add a plan description here -->
											<p class="mb-4 text-sm"><%- plan.description %> </p>
											<div class="d-flex align-items-center justify-content-between">
												<a href="/dashboard/plans/<%- plan.name %> ?id=<%- plan._id %>">
													<button type="button"
														class="btn btn-outline-primary btn-sm mb-0">View
														More</button>
												</a>
												<!-- TODO: Show admins who are in this plan here -->
												<div class="avatar-group mt-2">
													<% plan.activeAdmins.forEach( admin => { %>
													<a href="/dashboard/view/<%- admin.firstname %>?id=<%- admin._id %>"
														class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
														data-bs-placement="bottom" title="<%- admin.firstname %>">
														<% if(admin.profilePic){ %>
														<div class="">

															<img alt="Image placeholder"
																src="/<%- admin.profilePic.path %>">
														</div>
														<% }else{ %>
														<div class="">
															<span
																class="d-flex justify-content-center align-items-center avatar avatar-xs rounded-circle text-uppercase bg-gradient-primary"><%- admin.firstname.substr(0, 1) %></span>
														</div>
														<% } %>
													</a>
													<% }) %>
												</div>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
								<% if(user.authLevel > 1){ %>
								<div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
									<div class="card h-100 card-plain border">
										<div class="card-body d-flex flex-column justify-content-center text-center">
											<a href="javascript:void(0);" data-bs-toggle="modal"
												data-bs-target="#exampleModalSignUp">
												<i class="fa fa-plus text-secondary mb-3"></i>
												<h5 class=" text-secondary"> New Plan </h5>
											</a>
										</div>
									</div>
								</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End App Section -->
		<!-- COMMENT: Settings-->
		<section id="settingSection" role="settings" aria-label="Settings" style="display: none">
			<div class="row">
				<div class="col-12 <%- authLevel? "col-md-4": "col-md-6" %>">
					<div class="card h-100">
						<div class="card-header pb-0 p-3">
							<div class="row">
								<div class="col-md-8 d-flex align-items-center">
									<h6 class="mb-0">Profile Information</h6>
								</div>
								<div class="col-md-4 text-end">
									<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
										data-bs-placement="top" title="" data-bs-original-title="Edit Profile"
										aria-label="Edit Profile"></i>
								</div>
							</div>
						</div>
						<div class="card-body p-3">
							<form role="form text-left">
								<ul class="list-group">
									<li class="list-group-item border-0 ps-0 pt-0 text-sm">
										<div class="form-group">
											<label for="changeFirstname">First name</label>
											<input type="text" class="form-control" data-firstname="true"
												name="firstname" id="changeFirstname" placeholder="<%- firstname %>"
												value="<%- firstname %>">
										</div>
									</li>
									<li class="list-group-item border-0 ps-0 pt-0 text-sm">
										<div class="form-group">
											<label for="changeLastname">Last name</label>
											<input type="text" class="form-control" data-lastname="true" name="lastname"
												id="changeLastname" placeholder="<%- lastname %>"
												value="<%- lastname %>">
										</div>
									</li>
									<li class="list-group-item border-0 ps-0 pt-0 text-sm">
										<div class="form-group">
											<label for="changePhoneNo">Phone no</label>
											<input type="text" class="form-control" data-phoneNo="true" name="phoneNo"
												id="changePhoneNo" placeholder="<%- phoneNo %>" value="<%- phoneNo %>">
										</div>
									</li>
									<li class="list-group-item border-0 ps-0 pt-0 text-sm">
										<div class="form-group">
											<label for="changePassword">Previous Password</label>
											<input type="password" class="form-control" data-password="previous"
												name="password" id="oldPassword" placeholder="password" autocomplete="true">
										</div>
									</li>
									<li class="list-group-item border-0 ps-0 pt-0 text-sm">
										<div class="form-group">
											<label for="changePassword">New Password</label>
											<input type="password" class="form-control" data-password="new"
												name="password" id="newPassword" placeholder="password" autocomplete="true">
										</div>
									</li>
								</ul>
							</form>
						</div>
					</div>
				</div>
				<div class="col-12 <%- authLevel? "col-md-4": "col-md-6" %>">
					<div class="card h-100">
						<div class="card-header pb-0 p-3">
							<h6 class="mb-0">App Settings</h6>
						</div>
						<div class="card-body p-3">
							<h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
							<ul class="list-group">
								<li class="list-group-item border-0 px-0">
									<div class="form-check form-switch ps-0">
										<input class="form-check-input ms-auto" type="checkbox"
											id="flexSwitchCheckDefault" checked="">
										<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
											for="flexSwitchCheckDefault">Email me when someone message me</label>
									</div>
								</li>
								<li class="list-group-item border-0 px-0">
									<div class="form-check form-switch ps-0">
										<input class="form-check-input ms-auto" type="checkbox"
											id="flexSwitchCheckDefault1">
										<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
											for="flexSwitchCheckDefault1">Email me when my wallet is updated</label>
									</div>
								</li>
								<li class="list-group-item border-0 px-0">
									<div class="form-check form-switch ps-0">
										<input class="form-check-input ms-auto" type="checkbox"
											id="flexSwitchCheckDefault2" checked="">
										<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
											for="flexSwitchCheckDefault2">Email me I can widthdraw</label>
									</div>
								</li>
							</ul>
							<h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4">Application</h6>
							<ul class="list-group">
								<li class="list-group-item border-0 px-0">
									<div class="form-check form-switch ps-0">
										<input class="form-check-input ms-auto" type="checkbox"
											id="flexSwitchCheckDefault3">
										<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
											for="flexSwitchCheckDefault3">New launches and projects</label>
									</div>
								</li>
								<li class="list-group-item border-0 px-0">
									<div class="form-check form-switch ps-0">
										<input class="form-check-input ms-auto" type="checkbox"
											id="flexSwitchCheckDefault4" checked="">
										<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
											for="flexSwitchCheckDefault4">Monthly product updates</label>
									</div>
								</li>
								<li class="list-group-item border-0 px-0 pb-0">
									<div class="form-check form-switch ps-0">
										<input class="form-check-input ms-auto" type="checkbox"
											id="flexSwitchCheckDefault5">
										<label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"
											for="flexSwitchCheckDefault5">Subscribe to newsletter</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<% if(authLevel) { %>
				<div class="col-12 col-md-4">
					<div class="card h-100">
						<div class="card-header pb-0 p-3">
							<div class="row">
								<div class="col-md-8 d-flex align-items-center">
									<h6 class="mb-0">Plan Information</h6>
								</div>
								<div class="col-md-4 text-end">
									<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
										data-bs-placement="top" title="" data-bs-original-title="Edit Profile"
										aria-label="Edit Profile"></i>
								</div>
							</div>
						</div>
						<div class="card-body p-3">
							<% let descriptionDisplay = "d-block" %>
							<% if(!others._doc.planDescriptions.length){ %> 
								<% descriptionDisplay = "d-none" %> 
								<h6 class="text-warning">Start a plan before adding a plan description. <a href="/plan" class="btn btn-primary mt-3">Start Plan</a></h6>
							<% } %> 
							<form role="form text-left" class="<%= descriptionDisplay %>">
								<div class="form-group">
									<div class="form-group">
										<label class="" for="exampleFormControlSelect4">Plan</label>
										<select class="form-control" id="exampleFormControlSelect4" data-plan="true">
											<% others._doc.planDescriptions.forEach( (activePlan, index, d) => { %>
												<option value="<%- index %>"><%- activePlan.plan.name %></option>
											<% }) %>
											<input type="hidden" data-user="true" name="user" value="<%- user %>">
										</select>
										<span class="text-muted text-sm">Set your prefrences for each plan you are
											on</span>
									</div>
								</div>
								<hr class="horizontal gray-light my-4">
								<!-- The description changes due to the type of plan the user wants to change. So this form is dynamic -->
								<div class="desc">
									<!--  -->
									<div class="form-group">
										<label class="lead" for="changePlanDescription">How I work</label>
										<textarea class="form-control text-sm" data-description="true"
											id="changePlanDescription" rows="4"
											placeholder="Describe how you work..."><%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].description %></textarea>
									</div>
									<ul class="list-group">
										<li class="list-group-item border-0 ps-0 pt-0 text-sm">
											<div class="form-group">
												<label for="changeMethod">Method</label>
												<input type="text" class="form-control" data-method="true" name="method"
													id="changeMethod" placeholder="<%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].method %>"
													value="<%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].method %>">
											</div>
										</li>
										<li class="list-group-item border-0 ps-0 pt-0 text-sm">
											<div class="form-group">
												<label for="chageDuration">Duration</label>
												<input type="text" class="form-control" data-duration="true" name="duration"
													id="chageDuration" placeholder="<%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].duration %>"
													value="<%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].duration %>">
											</div>
										</li>
										<li class="list-group-item border-0 ps-0 pt-0 text-sm">
											<div class="form-group">
												<label for="changeIncrease">Pontential Increase</label>
												<input type="number" class="form-control" data-increase="true"
													name="increase" id="changeIncrease"
													placeholder="<%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].increase %>"
													value="<%- others._doc.planDescriptions.length && others._doc.planDescriptions[0].increase %>">
											</div>
										</li>
									</ul>
								</div>
							</form>
						</div>
					</div>
				</div>
				<% } %>
				<div class="col-12 d-flex justify-content-center">
					<button data-update-profile="save"
						class="btn btn-info btn-gradient-primary btn-lg mt-5">Save</button>
				</div>
			</div>
		</section>
		<!-- Footer -->
		<%- include("partials/__footer") %>
	</div>
</main>

<!-- Message Bird -->
<%- include("utils/messageBird") %>
<!--  -->
<!-- Credit Wallet modal -->
<%- include("components/creditWallet") %>
<!-- Credit Wallet with crypto modal -->
<%- include("components/creditWallet_withCrypto") %>
<!-- Transaction modal -->
<%- include("components/transaction") %>
<!-- Transaction modal -->
<%- include("components/createPlan") %>
<!-- Transaction modal -->
<%- include("components/updateProfile") %>
<!-- Fixed Plugin -->
<%- include("partials/__theme") %>

<!-- Script -->
<%- include("partials/__scripts") %>
<!-- custom scripts -->
<script src="/dashboard/js/switch.js"></script>
<script src="/dashboard/js/modal/createPlan.js"></script>
<script src="/dashboard/js/modal/creditWallet.js"></script>
<script src="/dashboard/js/modal/transaction.js"></script>
<script src="/dashboard/js/modal/updateProfile.js"></script>
<script>
	const plan = document.querySelector(`[data-plan="true"]`);
	const descDom = document.querySelector(".desc");
	const user = document.querySelector(`[data-user="true"]`);
	
	// this request would dynamicly update the description form to match the plan
	if (user) axios.get("/api/get/byidandpopulate/user?id=" + user.value + "&opt=planDescriptions.plan").then(res => {
		// console.log("res", res.data.message);
		const data = res.data.message.planDescriptions;
		if (data) {
			const form = ({description, method, increase, duration, maxInvestment}) => `<div class="form-group">
				<label class="lead" for="changePlanDescription">How I work</label>
				<textarea class="form-control text-sm" data-description="true"
					id="changePlanDescription" rows="4"
					placeholder="Describe how you work...">${description}</textarea>
			</div>
			<ul class="list-group">
				<li class="list-group-item border-0 ps-0 pt-0 text-sm">
					<div class="form-group">
						<label for="changeMethod">Method</label>
						<input type="text" class="form-control" data-method="true" name="method"
							id="changeMethod" placeholder="${method}" value="${method}">
					</div>
				</li>
				<li class="list-group-item border-0 ps-0 pt-0 text-sm">
					<div class="form-group">
						<label for="chageDuration">Duration</label>
						<input type="text" class="form-control" data-duration="true" name="duration"
							id="chageDuration" placeholder="${duration}" value="${duration}">
					</div>
				</li>
				<li class="list-group-item border-0 ps-0 pt-0 text-sm">
					<div class="form-group">
						<label for="changeIncrease">Pontential Increase</label>
						<input type="number" class="form-control" data-increase="true"
							name="increase" id="changeIncrease" placeholder="${increase}" value="${increase}">
					</div>
				</li>
			</ul>`;
			plan.addEventListener("change", e => {
				descDom.innerHTML = form({description: data[plan.value].description, method: data[plan.value].method, increase: data[plan.value].increase, duration: data[plan.value].duration, maxInvestment: data[plan.value].maxInvestment});
			});
		}
	}).catch(err => {
		console.log("err", err);
	});

	const loc = location.hash;
	// set plan to be updated form outside req
	if (loc.substr(loc.indexOf("?")+1, loc.length-12) == "plan") plan.value = loc.substr(loc.length - 1, loc.length);
</script>
</body>

</html>