<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
	aria-hidden="true">
	<div class="modal-dialog resolve modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Active users</h5>
				<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-sm">A list of active users under you</p>
				<hr class="horizontal gray-light my-1">
				<div class="table-responsive p-0">
					<table class="table align-items-center mb-0">
						<thead>
							<tr>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
									User
								</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
									Plan</th>
								<th
									class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
									Amount</th>
								<th
									class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
									Resolve
								</th>
								<th class="text-secondary opacity-7"></th>
							</tr>
						</thead>
						<tbody>
							<% activeUsers.forEach( users => { %>
							<% users.user.forEach( (user, index) => { %>
							<tr>
								<td>
									<a href="/dashboard/view/<%- user.id.firstname %>?id=<%- user.id._id %>"
										class="text-secondary font-weight-bold text-xs">

										<div class="d-flex px-2 py-1">
											<div>
												<img src="/dashboard/img/team-2.jpg" class="avatar avatar-sm me-3"
													alt="user1">
											</div>
											<div class="d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-sm"><%- user.id.firstname %></h6>
												<p class="text-xs text-secondary mb-0"><%- user.id.username %></p>
											</div>
										</div>
									</a>
								</td>
								<td class="align-middle text-center">
									<span class=""><%- users.plan.name %></span>
								</td>
								<td class="align-middle text-center">
									<span class=""><%- user.amount %></span>
								</td>
								<form data-resolve-user="true">
									<td>
										<input type="number" name="amount" class="form-control w-100">
										<input type="hidden" name="plan" value="<%- users.plan._id %>">
										<input type="hidden" name="user" value="<%- user.id._id %>">
									</td>
									<td>
										<div class="resolve">
											<button type="submit" class="btn btn-info m-0">Resolve</button>
										</div>
									</td>
								</form>
							</tr>
							<% }); %>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>